<!DOCTYPE html>
<html>

<head>
	<title id="title">The Will of the Wisps Wiki</title>
</head>

<body>
<h1>The Will of the Wisps Wiki</h1>
<dl>
<dt><a href="/hero/cloud">Cloud</a></dt>
<dt>Health Points: 600</dt>
<dt>Base Attack Damage: 57</dt>
<dt>_______________________________</dt>

<dt><a href="/hero/jester">Jester</a></dt>
<dt>Health Points: 660</dt>
<dt>Damage: 64</dt>
<dt>_______________________________</dt>

<dt><a href="/hero/sunflowey">Sunflowey</a></dt>
<dt>Health Points: 650</dt>
<dt>Damage: 43</dt>
<dt> </dt>

</dl>
</body>
</html>